VITE_SUPABASE_PROJECT_ID="bgrfvjybnjqdzbqcnqaz"
VITE_SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJncmZ2anlibmpxZHpicWNucWF6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQzNDkxMDIsImV4cCI6MjA4OTkyNTEwMn0.rycXPDllh07kQAGQ3DOw4cLnW1XqJNjWZr29bsNm5SI"
VITE_SUPABASE_URL="https://bgrfvjybnjqdzbqcnqaz.supabase.co"